<div class="row">
  <div class="form-wrapper">
    <h2 class="title">
      Alocate Numbers
    </h2>
    <form class="alocate-numbers-form">
      <div class="form-group">
        <label for="amount">Amount of Numbers</label>
        <input type="text" class="form-control" id="amount">
      </div>
      <div class="form-group">
        <label for="countryCode">Country Code</label>
        <input type="number" class="form-control" id="countryCode">
      </div>
      <div class="form-group">
        <label for="areaCode">Area Code</label>
        <input type="number" class="form-control" id="areaCode">
      </div>
      <p>
        $34 per number
        <br> 10*$34 = $340 in total
      </p>
      <button type="submit" class="btn btn-primary">Add to Services</button>
    </form>
  </div>
</div>
