.create-user-contant {
  padding-top: 70px;

  .create-user-form {
    p {
      font-weight: 600;
      margin-bottom: 15px;
      margin-top: 20px;
    }

    .btn {
      padding: 10px 105px;
    }
  }
}
