<div class="row">
  <div class="create-user-contant">
    <form class="create-user-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="number">Number</label>
        <select class="form-control" id="number">
          <option></option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="license">Choose a Licencse</label>
        <select class="form-control" id="license">
          <option></option>
          <option>license 1</option>
          <option>license 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <select class="form-control" id="location">
          <option></option>
          <option>location 1</option>
          <option>location 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <input type="text" class="form-control" id="department">
      </div>
      <div class="form-group">
        <label for="license2">Choose a Licencse</label>
        <select class="form-control" id="license2">
          <option></option>
          <option>license 1</option>
          <option>license 2</option>
        </select>
      </div>
      <p>additional licenses charged at $30pm</p>
      <button type="submit" class="btn btn-primary">Add User</button>
      <p>We will send login details to the email</p>
    </form>
  </div>
</div>
