.create-user-contant {
  padding-top: 70px;

  .create-user-form {
    max-width: 240px;

    p {
      font-weight: 600;
      margin-bottom: 15px;
      margin-top: 20px;
      width: 280px;
    }

    .btn {
      padding: 10px 105px;
    }
  }
}
