<div class="row">
  <div class="profile-content">
    <div class="profile-item">
      <div class="label">Name</div>
      <div class="value">Allie Moss</div>
    </div>
    <div class="profile-item">
      <div class="label">Company</div>
      <div class="value">SmartexLab</div>
    </div>
    <div class="profile-item">
      <div class="label">Number</div>
      <div class="value">123-345-2341</div>
    </div>
    <div class="profile-item">
      <div class="label">Email</div>
      <div class="value">email@mail.com</div>
    </div>
  </div>
</div>
