<nav class="navbar">
  <div class="container">
    <div class="row">
      <img src="../assets/img/color_logo_transparent.png" alt="logo">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a routerLink="/user/statistics" routerLinkActive="active" class="navbar-link">Statistics</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/user/history" routerLinkActive="active" class="navbar-link">History</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/user/contacts" routerLinkActive="active" class="navbar-link">Contacts</a>
        </li>
      </ul>
      <div class="navbar-devider"></div>
      <ul class="navbar-list">
        <li class="navbar-item">
          <a routerLink="/admin/manage-users" routerLinkActive="active" class="navbar-link">Manage Users</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/admin/group-numbers" routerLinkActive="active" class="navbar-link">Group Numbers</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/admin/alocate-numbers" routerLinkActive="active" class="navbar-link">Alocate Numbers</a>
        </li>
      </ul>
      <a routerLink="/admin/profile" routerLinkActive="active" class="navbar-link navbar-link-right">Profile</a>
    </div>
  </div>
</nav>
